@model IEnumerable<THDShop.CATEGORIES>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATEBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATEAT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATEBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATEAT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
