@model IEnumerable<THDShop.ViewModel.Product.ProductDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Product</h1>
        <a href="@Url.Action("Create","Product")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Create Product
        </a>
    </div>
    <div class="text-center">
        <div class="paddingtop rl" style="padding-bottom: 20px;">
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>
                                Mã
                            </th>
                            <th>
                                Tên
                            </th>
                            <th>
                                Loại
                            </th>
                            <th>
                                Giá Bán
                            </th>
                            <th>
                                Số Lượng
                            </th>
                            <th>
                                Hình Ảnh
                            </th>
                            <th>
                                Mô Tả
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            @foreach (var item in Model)
            {
                <div>
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CATEGORYNAME)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PRICE)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.QUANTITY)
                                </td>
                                <td>
                                    <img src="@Url.Content(item.IMAGE)" width="100" height="100" style="border-radius: 10px;" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                                </td>
                                <td style="display: flex;align-content: center;flex-wrap: wrap;flex-direction: column;">
                                    <a href="@Url.Action("Edit","Product",new { id = item.ID })" class="btn btn-sm btn-warning" style="margin-bottom: 5px;">Edit</a>
                                    <a href="@Url.Action("Delete","Product",new { id = item.ID })" class="btn btn-sm btn-danger" style="margin-bottom: 5px;">Delete</a>
                                    <a href="@Url.Action("Detail","Product",new { id = item.ID })" class="btn btn-sm btn-info" style="margin-bottom: 5px;">Detail</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
}

